.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.anim-dice {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 80px;
  width: 80px;
}

.invisible {
  display: none;
}

.show-dice {
  display: block;
}

body {
  background-color: #393E46;
}

button.play {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

.lead {
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
  background-color: transparent;
  border: none;
  outline: 0;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


#draw-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  border: 0;
  background: none;
  /* text-transform: uppercase; */
  color:#4ECCA3;
  font-weight: bold;
  position: relative;
  outline: none;
  margin-bottom: 30px;
  padding: 0px 40px 20px;
  box-sizing: border-box;
}

button::before, button::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

button::after {
  bottom: 0;
  right: 0;
}

button::before {
  top: 0;
  left: 0;
}

button:hover::before, button:hover::after {
  width: 100%;
  height: 100%;
}

button:hover::before {
  border-top-color:#4ECCA3;
  border-right-color:#4ECCA3;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

button:hover::after {
  border-bottom-color:#4ECCA3;
  border-left-color:#4ECCA3;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}